@page
@model RestaurantRate.Pages.Restaurants.IndexModel

@{
	ViewData["Title"] = "Index";
}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Restaurant[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Restaurant[0].Type)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Restaurant[0].Rating)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurant)
{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Type)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rating)
			</td>
			<td>
				<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
				<a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
				<a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>